@inherits Umbraco.Web.Mvc.UmbracoViewPage<HighlyDeveloped.Core.ViewModel.ForgottenPasswordViewModel>
@using HighlyDeveloped.Core.Controllers
<!-- Are we already logged in-->
<!-- Just show a message-->
@if (Umbraco.MemberIsLoggedOn())
{
    <h2>You are already logged in!</h2>
}
else if (TempData["status"] != null && (string)TempData["status"] == "OK")
{
    <!-- Success message -->
    <!-- Email has been sent -->
    <p>
        An email has been sent to the email address you provided. Please follow
        the instructions therein.
    </p>
}
else
{
    <!-- Show the form -->
    <div class="container">
        <div class="row">
            <div class="col">

                @using (Html.BeginUmbracoForm<LoginController>("HandleForgottenPassword"))
                {
                    <p>Enter your email address and we will send you a link to reset your password.</p>
                    @Html.AntiForgeryToken()
                    @Html.LabelFor(m => m.EmailAddress)
                    @Html.TextBoxFor(m => m.EmailAddress, new { placeholder = "Email Address" })

                    <button name="submit" type="submit">Submit</button>
                }
                <a href="/Login">Back to login</a>
            </div>
        </div>
    </div>
}


